.download {
  background-color: #000000;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* height: 65vh; */
}

.download-img{
  padding-bottom: 50px;
}

.download-img img {
  width: 530px;
}

.download-info {
  position: absolute;
  background-color: #000000;
  border: 1px solid white;
  border-radius: 10px;
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin-left: 90px;
  margin-top: -130px;
}

.download-info img {
  margin-left: 10px;
  margin-right: 15px;
  width: 51px;
}

.download-info p {
  font-size: 0.8rem;
}

.download-text {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.download-head h2 {
  max-width: 18ch;
  font-size: 3rem;
  font-weight: 600;
}

.download-sub h3 {
  margin-top: 10px;
  max-width: 35ch;
  font-size: 1.5rem;
  font-weight: 400;
}

@media only screen and (max-width: 1280px) {
  .download {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .download-text{
    padding-top: 50px;
    text-align: center;
    margin-left: 0px;
    justify-content: center;
    align-items: center;
  }

  .download-head h2 {
    font-size: 2.5rem;
    font-weight: 600;
  }
  
  .download-sub h3 {
    margin-top: 10px;
    max-width: none;
    font-size: 1.6rem;
    font-weight: 400;
  }

  .download-info {
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    margin-left: 100px;
    margin-top: -120px;
  }

  .download-info img {
    margin-left: 10px;
    margin-right: 25px;
    width: 51px;
  }

  .download-info h4 {
    font-size: 1rem;
  }

  .download-info p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 767px){
  .download{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .download-text{
    padding-top: 30px;
    text-align: center;
    margin-left: 0px;
    justify-content: center;
    align-items: center;
  }

  .download-head h2 {
    font-size: 2rem;
    font-weight: 600;
  }
  
  .download-sub h3 {
    margin-top: 10px;
    max-width: none;
    font-size: 1rem;
    font-weight: 400;
  }
  
  .download-img img{
    width: 330px;
  }

  .download-info {
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    margin-left: 55px;
    margin-top: -95px;
  }

  .download-info img {
    margin-left: 10px;
    margin-right: 25px;
    width: 41px;
  }

  .download-info h4 {
    font-size: 0.8rem;
  }

  .download-info p {
    font-size: 0.6rem;
  }
}