body {
  background-color: #000000;
  color: #fff;
}

.enjoy {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 65vh;
}

.enjoy-text {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.enjoy-head h2 {
  font-size: 3rem;
  font-weight: 600;
}

.enjoy-sub h3 {
  margin-top: 10px;
  max-width: 35ch;
  font-size: 1.5rem;
  font-weight: 400;
}

.enjoy-img img{
  width: 530px;
}